
    .banner
    {
      background: url(../../imagens/eletron.png) no-repeat;
      background-position:center;
      background-size: 100% 100%;
      height:350px;
      width: 350px;
    }

    #home .jumbotron
    {
      background: url(../../imagens/fundo.jpg);
      background-size: 100% 100%;
    }

    #home h1
    {
     font-family: 'Open Sans';
     color: white;
    }

    #descricao h1
    {
      font-size: 28px;
      text-align: center;
      margin-bottom: 3%;
      margin-top: 3%;
      font-weight: bold;
    }

    #descricao h1 ~ p
    {
       text-indent: 1.5px;
       font-size: 18px;
       text-align: center;
    }

    .botao_padrao a
    {
     font-family: 'Open Sans';
     font-size: 16px;
     text-decoration: none;
     font-weight: normal;
     color: white;
    }


    .botao_alterar a
    {
     font-family: 'Open Sans';
     font-size: 16px;
     text-decoration: none;
     font-weight: normal;
     color: white;
    }

    .botao_home a
    {
     font-family: 'Open Sans';
     font-size: 16px;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: normal;
     color: white;
    }
    .botao_home{
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .painel
    {
      background: url(../../imagens/eletron.png) no-repeat;
      background-position:center;
      background-size: 100% 100%;
      height:350px;
      width: 350px;
    }
